
<div class="product">
  <div class=deleteIcon *ngIf="!productTemplate.addedByGo" data-cy="deleteProductTemplate">
    <mat-icon (click)="deleteProduct()">clear</mat-icon>
  </div>
  <p class="naam" >{{productTemplate.productName | slice: 0: 9}} </p>
  <img
    mat-card-image
    class="productfoto"
    src="{{productFotoSrc}}"
    alt="{{productTemplate.productName}}"
    (error)="showDefaultImage()"
  >
  <div class="desc" *ngIf="productTemplate.addedByGo" data-cy="productAddedByGo">GO product</div>
</div>
