.lijstitem{
    max-width: 250px;
    margin: 3em;
    flex: 0 0 auto;
    
    
}
.parent {
    display: flex;
    flex-wrap: nowrap; 
    overflow: auto;
}
.container{
    display: flex;
    margin: auto 0;
    justify-content: center;
      
}
.v-row{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    margin: auto 0;
    
}
.h-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    margin: auto 0;
}

.header2{
    margin: auto 2em;
    padding: 1em 0;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #008b8b;
}

.header4{
    font-size: 2em;
    color: #79e0e0;
}
.afbeelding{
    max-width: 400px;
    max-height: auto;
}
.mara{
    margin: 1em;
}

.para{
    padding: 1em;
}
.topmara{
    margin-top: 2em;
}