<div class="body-wrapper">
  <div class="list-title">
    <h1>Project templates</h1>

    <button routerLink="/add-project-template" mat-raised-button type="button" color="default" rounded="true"
            data-toggle="modal">
      <mat-icon class="icon">add</mat-icon>Nieuw project template
    </button>
  </div>
  <mat-spinner *ngIf="loader"></mat-spinner>
  <div class="list" *ngIf="!loader">
    <div *ngFor="let projectTemp of templates">
      <app-project-template  [template]="projectTemp"></app-project-template>
    </div>
  </div>
</div>
