# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
cypress/integration/examples/location.spec.js
cypress/integration/examples/actions.spec.js
cypress/integration/examples/aliasing.spec.js
cypress/integration/examples/assertions.spec.js
cypress/integration/examples/connectors.spec.js
cypress/integration/examples/cookies.spec.js
cypress/integration/examples/cypress_api.spec.js
cypress/integration/examples/files.spec.js
cypress/integration/examples/local_storage.spec.js
cypress/integration/examples/misc.spec.js
cypress/integration/examples/navigation.spec.js
cypress/integration/examples/network_requests.spec.js
cypress/integration/examples/querying.spec.js
cypress/integration/examples/spies_stubs_clocks.spec.js
cypress/integration/examples/traversal.spec.js
cypress/integration/examples/utilities.spec.js
cypress/integration/examples/viewport.spec.js
cypress/integration/examples/waiting.spec.js
cypress/integration/examples/window.spec.js
cypress/fixtures/profile.json
cypress/fixtures/example.json
cypress/fixtures/users.json
