<div class="project" [routerLink]="['/edit/project/template/', template.projectTemplateId]">
  <p class="naam" data-cy="projectemplatesoverzichtname">{{template.name}}</p>
  <img mat-card-image class="projectfoto" src="{{projectFotoSrc}}" alt="{{template.name}}" (error)="showDefaultImage()">
  <span class="buttons">
    <button [routerLink]="['/edit/project/template/', template.projectTemplateId]" class="useBtn">Details</button>
    <button [routerLink]="['/add-project/template/', template.projectTemplateId]" class="useBtn">Gebruik template</button>
  </span>
</div>

