<!-- <div class="container"> -->
    <!-- <div>
        <p>Kies een klas uit de lijst</p>
        <select ng-init="chosenClassroom=classes[0]" class='selectBox' #t [(ngModel)]="chosenClassroom" (ngModelChange)='getPupils()'>
            <option selected>Kies een klas</option>
            <option [ngValue]='item' *ngFor="let item of classes | async">
                {{item.name}}
            </option>

        </select> 
        
</div> -->
<!-- <p>Kies uit {{classRoom.name}}</p> -->
        <ul class="pupils">
            <li   *ngFor="let pupil of chosenPupils" 
             [class.selected]="isSelected(pupil)"
             (click)="onSelect(pupil)">
                {{pupil.firstName}} {{pupil.surName}}
            </li>
        </ul>
    <!-- </div> -->
<!-- </div> -->
