.button {
    border: 1px solid var(--magenta);
    padding: 10px 25px;
    background-color: var(--magenta);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.button:hover {
    color: white !important;
    cursor: pointer;
    background-color: #DE739C;
    transition: all 0.3s;
  }