<div class="fullPage">
  <mat-card class="info">
    <div class="titleBox">
      <mat-card-title>
        <mat-icon class="icon">post_add</mat-icon>Maak een nieuw klas aan
      </mat-card-title>
      <!-- <mat-card-subtitle>Zorg dat alle velden zijn ingevuld</mat-card-subtitle> -->
    </div>
    <mat-card-content class="form">
      <form [formGroup]="classForm">

        <div class="formSectie">
          <div class="formGroup">
            <label>Klasnaam</label>
            <input [ngClass]="{
                        'invalidInput': classForm.get('name')['errors']&& classForm.get('name').touched,
                        'validInput': !classForm.get('name')['errors'] && classForm.get('name').touched
                    }" aria-label="productTemplatenaam" placeholder="naam" type="text" formControlName="name" #spy
                   required />

            <p class="error" *ngIf="classForm.get('name')['errors'] && classForm.get('name').touched">
              {{ getErrorMessage(classForm.get('name')['errors']) }}
              <img src="{{error}}">
            </p>
            <img *ngIf="!classForm.get('name')['errors'] && classForm.get('name').touched"
                 class="correct" src="{{correct}}"/>
          </div>
        </div>
        <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />

        <div class="formSectie">
          <table mat-table [dataSource]="records" *ngIf="records.length > 0">

            <!-- Name Column -->
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef> Voornaam </th>
              <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="surName">
              <th mat-header-cell *matHeaderCellDef> Achternaam </th>
              <td mat-cell *matCellDef="let element"> {{element.surName}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </div>
      </form>
      <button routerLink="/klassen" class="button" mat-raised-button>
        annuleer
      </button>
      <button (click)="save()" class="button" type="submit" mat-raised-button color='primary'
              [disabled]='!classForm.valid'>
        Maak klas aan
      </button>
    </mat-card-content>
  </mat-card>
</div>
