<img src="assets/images/klimaatmobiel_banner.jpg" alt="Klimaatmobiel_banner"/>
<div class="action-list">
  <div class="action-button" routerLink="/projecten" data-cy="goToProjecten">
    <span>Projecten</span>
  </div>
  <div class="action-button" routerLink="/klassen" data-cy="goToKlassen"> 
    <span>Klassen beheren</span>
  </div>
  <div class="action-button" routerLink="/projecttemplates"data-cy="goToProductTemplates">
    <span>Projecten templates</span>
  </div>
  <div class="action-button" routerLink="/producten" data-cy="goToProducten">
    <span>Producten templates</span>
  </div>
</div>
