header {
  height: 70px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

img {
  height: 85%;
  margin-left: 20px;
}

.buttons {
  display: flex;
  align-content: center;
  padding-right: 10px;
}

button {
  min-width: 100px;
  background-color: white;
}

button:hover {
  background-color: #eaeaea;
}
