<header>
  <nav class="bar">
    <ul class="lists">
      <li>
        <a class="logo"  alt="GO logo" routerLink="/projecten" title="Visit the homepage"></a>
      </li>
    </ul>
    <ul class="lists buttons">
      <li class="item"> <a routerLink="/projecten">Projecten</a></li>
        <li class="item"> <a routerLink="/projecttemplates">Templates</a></li>
        <li class="item"> <a routerLink="/producten">Product templates</a></li>
        <li class="item"> <a routerLink="/klassen">Klassen</a></li>
        <li class="item"><a class="loginButton">Inloggen</a></li>
    </ul>
  </nav>
</header>