<header>
  <nav class="bar">
    <ul class="lists">
      <li>
        <a class="logo"  alt="GO logo" routerLink="" title="Visit the homepage"></a>
      </li>
    </ul>
    <ul class="lists buttons">
        <li class="item"> <a routerLink="/">Home</a></li>
      <li class="item"> <a routerLink="/projecten">Modules</a></li>
        <li class="item"> <a routerLink="/projecttemplates">Templates</a></li>
        <li class="item"> <a routerLink="/producten">Product template</a></li>
        <li class="item"> <a routerLink="/klassen">Klassen</a></li>
        <li  *ngIf="user | async; else inloggen" class="item"> <a class="loginButton" (click)="logout()">Uitloggen</a></li>
      <ng-template #inloggen>
         <li class="item"><a routerLink="/login" class="loginButton">Inloggen</a></li>
      </ng-template>
    </ul>
  </nav>
</header>

