<div class="fullPage">
  <mat-card class="info">
    <div class="titleBox">
      <mat-card-title>
        <mat-icon class="icon">post_add</mat-icon>Pas een product template aan
      </mat-card-title>
      <!-- <mat-card-subtitle>Zorg dat alle velden zijn ingevuld</mat-card-subtitle> -->
    </div>
    <mat-card-content class="form">

      <form class='container' [formGroup]="productTemplate">

        <div class=formSectie>
          <div class="formGroup">
            <label>Product naam</label>
            <input [ngClass]="{
                        'invalidInput': productTemplate.get('name')['errors'],
                        'validInput': !productTemplate.get('name')['errors']
                    }" aria-label="productTemplatenaam" type="text" formControlName="name" #spy
                   required data-cy="productTemplateName"/>
            <p class="error" *ngIf="productTemplate.get('name')['errors']">
              {{ getErrorMessage(productTemplate.get('name')['errors']) }}
              <img src="{{error}}">
            </p>
            <img *ngIf="!productTemplate.get('name')['errors']"
                 class="correct" src="{{correct}}"/>

          </div>
          <div class="formGroup">
            <label>Beschrijving</label>
            <textarea [ngClass]="{
                            'invalidInput': productTemplate.get('description')['errors'],
                            'validInput': !productTemplate.get('description')['errors']
                        }" aria-label="description" type="text" formControlName="description" required data-cy="productTemplateDescription"></textarea>
            <p class="error"
               *ngIf="productTemplate.get('description')['errors']">
              {{ getErrorMessage(productTemplate.get('description')['errors']) }}
              <img src="{{error}}">
            </p>
            <img *ngIf="!productTemplate.get('description')['errors']"
                 class="correct" src="{{correct}}">
          </div>
          <div class="formGroup">
            <label>Afbeelding Url</label>
            <input
              [ngClass]="{
                            'invalidInput': productTemplate.get('image')['errors'],
                            'validInput': !productTemplate.get('image')['errors'] }"
              aria-label="image" type="text" formControlName="image" required data-cy="productTemplateImage"/>
            <p class="error" *ngIf="productTemplate.get('image')['errors']">
              {{ getErrorMessage(productTemplate.get('image')['errors']) }}
              <img src="{{error}}">
            </p>
            <img *ngIf="!productTemplate.get('image')['errors']"
                 class="correct" src="{{correct}}"/>
          </div>
          <div class="formGroup">
            <label>Score</label>
            <input
              [ngClass]="{
                                'invalidInput': productTemplate.get('score')['errors'],
                                'validInput': !productTemplate.get('score')['errors']}"
              aria-label="score" type="number" formControlName="score" required data-cy="productTemplateScore"/>
            <p class="error" *ngIf="productTemplate.get('score')['errors'] ">
              {{ getErrorMessage(productTemplate.get('score')['errors']) }}
              <img src="{{error}}">
            </p>
            <img *ngIf="!productTemplate.get('score')['errors']"
                 class="correct" src="{{correct}}"/>
          </div>
          <mat-form-field class="formGroup">
            <mat-label>Categories</mat-label>
            <mat-select aria-label="categories" formControlName="categories" data-cy="productTemplateCategories">
              <mat-option *ngFor="let cat of categories$" [value]="cat" matTooltip="{{cat.categoryDescr}}" matTooltipPosition="right">
                {{ cat.categoryName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productTemplate.get('categories')['errors'] ">
              {{ getErrorMessage(productTemplate.get('categories')['errors']) }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="formsectie">
          <div class="formGroup">
            <mat-checkbox [formControl]="variationsCheck" formControlName="variationsCheck">Beschrijving per graad
            </mat-checkbox>
          </div>
          <div *ngIf="!variationsCheck.value">
            <div class="formGroup">
              <label>Algemene beschrijving voor leerlingen</label>
              <input [ngClass]="{'invalidInput': productTemplate.get('genVar').errors,
                                        'validInput': !productTemplate.get('genVar').errors
                                    }" aria-label="generalVariation" type="text"
                     formControlName="genVar" #spy />

              <p class="error" *ngIf="productTemplate.get('genVar').errors">
                {{ getErrorMessage(productTemplate.get('genVar').errors) }}
                <img src="{{error}}">
              </p>
              <img *ngIf="!productTemplate.get('genVar')['errors']"
                   class="correct" src="{{correct}}"/>

            </div>
          </div>
          <div *ngIf="variationsCheck.value">
            <div formArrayName="variations" *ngFor="let va of variations.controls; let i = index">
              <div class="formGroup" [formGroupName]="i" >
                <label>Beschrijving {{va.get('eSchoolGrade').value}} graad</label>
                <input [ngClass]="{
                                'invalidInput': va.get('productDescr')['errors'],
                                'validInput': !va.get('productDescr')['errors'] }"
                       aria-label="graad" type="text" formControlName="productDescr"
                       required />
                <p class="error" *ngIf="va.get('productDescr')['errors'] ">
                  {{ getErrorMessage(va.get('productDescr')['errors']) }}
                  <img src="{{error}}">
                </p>
                <img *ngIf="!va.get('productDescr')['errors']"
                     class="correct" src="{{correct}}" />
              </div>
            </div>
          </div>
        </div>
      </form>
      <button routerLink="/producten" class="button" mat-raised-button>
        Annuleer
      </button>
      <button (click)="save()" class="button" type="submit" mat-raised-button color='primary'
              [disabled]='!productTemplate.valid'>
        Wijzigingen opslaan
      </button>
    </mat-card-content>
  </mat-card>
</div>
