<mat-card-title>Kies de instellingen voor de pdf</mat-card-title>

<br>
<br>
<br>
<table>
<tr *ngFor="let group of project.groups; let i = index">
        <td>
            <mat-checkbox (click)="toggleAddGroup(group.id)">{{group.name}}</mat-checkbox>
        </td>


        <td class="tdevals">

            <mat-checkbox (click)="teacherToggle()" *ngIf="i === 0">Evaluaties leerkracht</mat-checkbox>
            <mat-checkbox (click)="pupilToggle()" *ngIf="i === 1">Evaluaties leerling</mat-checkbox>
        </td>
</tr>
</table>
<br>

<br>
<button (click)="getPdf()" mat-raised-button type="button" color="default" rounded="true" data-toggle="modal">
    <mat-icon class="icon">picture_as_pdf</mat-icon> &nbsp;Genereer pdf
</button>