<div class="fullPage">
  <mat-card class="projectInfo">

    <div class="titleBox">
      <mat-card-title class="h">
        <mat-icon class="icon">post_add</mat-icon>Aanpassen project template
      </mat-card-title>
      <!-- <mat-card-subtitle>Zorg dat alle velden zijn ingevuld</mat-card-subtitle> -->
    </div>
    <mat-card-content class="form">
      <div class=formSectie>
        <form class='container' [formGroup]="projecttemplate">
          <div class="formGroup">
            <label>Projectnaam</label>
            <div>
              <input [ngClass]="{
                    'invalidInput': projecttemplate.get('name')['errors']&& projecttemplate.get('name').touched,
                    'validInput': !projecttemplate.get('name')['errors'] && projecttemplate.get('name').touched
                }" aria-label="projectnaam" placeholder="Project naam" type="text" formControlName="name" data-cy="newprojecttemplatename" #spy
                     required />

              <p class="error" *ngIf="projecttemplate.get('name')['errors'] && projecttemplate.get('name').touched">
                {{ getErrorMessage(projecttemplate.get('name')['errors']) }}
                <img src="{{error}}">
                data-cy="newprojecttemplatenameerror"
              </p>
              <div *ngIf="!projecttemplate.get('name')['errors'] && projecttemplate.get('name').touched">
                <img class="correctInput" src="{{correct}}">
              </div>
            </div>

          </div>
          <div class="formGroup">
            <label>Beschrijving</label>
            <textarea [ngClass]="{
                    'invalidInput': projecttemplate.get('description')['errors']&& projecttemplate.get('description').touched,
                    'validInput': !projecttemplate.get('description')['errors'] && projecttemplate.get('description').touched
                }" aria-label="description" type="text" formControlName="description" required
                      data-cy="newprojecttemplatedescription"></textarea>
            <p class="error" *ngIf="projecttemplate.get('description')['errors'] && projecttemplate.get('description').touched" data-cy="newprojecttemplatedescriptionerror">
              {{ getErrorMessage(projecttemplate.get('description')['errors']) }}
              <img src="{{error}}">
            </p>
            <img *ngIf="!projecttemplate.get('description')['errors'] && projecttemplate.get('description').touched" class="correct"
                 src="{{correct}}">
          </div>
          <div class="formGroup">
            <label>Afbeelding Url</label>
            <div>
              <input [ngClass]="{
                    'invalidInput': projecttemplate.get('image')['errors']&& projecttemplate.get('image').touched,
                    'validInput': !projecttemplate.get('image')['errors'] && projecttemplate.get('image').touched }" aria-label="image"
                     placeholder="Afbeelding" type="text" formControlName="image" data-cy="newprojecttemplateimage" required />
              <p class="error" *ngIf="projecttemplate.get('image')['errors'] && projecttemplate.get('image').touched" data-cy="newprojecttemplateimageerror">
                {{ getErrorMessage(projecttemplate.get('image')['errors']) }}
                <img src="{{error}}">
              </p>
              <div *ngIf="!projecttemplate.get('image')['errors'] && projecttemplate.get('image').touched">
                <img class="correctInput" src="{{correct}}">
              </div>
            </div>
          </div>
          <div class="naastElkaar">

            <div class="formGroup">
              <label>Budget</label>
              <input [ngClass]="{
                        'invalidInput': projecttemplate.get('budget')['errors']&& projecttemplate.get('budget').touched,
                        'validInput': !projecttemplate.get('budget')['errors'] && projecttemplate.get('budget').touched }"
                     class="smallInput" aria-label="budget" placeholder="Maximale budget" type="number"
                     formControlName="budget" data-cy="newprojecttemplatebudget" required />
              <p class="error" *ngIf="projecttemplate.get('budget')['errors'] && projecttemplate.get('budget').touched" data-cy="newprojecttemplatebudgeterror">
                {{ getErrorMessage(projecttemplate.get('budget')['errors']) }}
                <img src="{{error}}">
              </p>
              <img *ngIf="!projecttemplate.get('budget')['errors'] && projecttemplate.get('budget').touched" class="correct"
                   src="{{correct}}">
            </div>

            <div class="formGroup">
              <label>Eco-score</label>
              <div>
                <input [ngClass]="{
                    'invalidInput': projecttemplate.get('maxScore')['errors']&& projecttemplate.get('maxScore').touched,
                    'validInput': !projecttemplate.get('maxScore')['errors'] && projecttemplate.get('maxScore').touched }" aria-label="image"
                       placeholder="Max score" type="text" formControlName="maxScore" data-cy="newprojecttemplatemaxScore" required />
                <p class="error" *ngIf="projecttemplate.get('maxScore')['errors'] && projecttemplate.get('maxScore').touched" data-cy="newprojecttemplatemaxScoreerror">
                  {{ getErrorMessage(projecttemplate.get('maxScore')['errors']) }}
                  <img src="{{error}}">
                </p>
                <div *ngIf="!projecttemplate.get('maxScore')['errors'] && projecttemplate.get('maxScore').touched">
                  <img class="correctInput" src="{{correct}}">
                </div>
              </div>
            </div>
          </div>

          <div class="formGroup">
            <mat-form-field>
              <mat-label>Onderwerp</mat-label>
              <mat-select formControlName="applicationDomain" required>
                <mat-option *ngFor="let domein of domains"  [value]="domein">
                  {{domein.name}}
                </mat-option>
              </mat-select>

              <mat-error
                *ngIf="projecttemplate.get('applicationDomain')?.errors && projecttemplate.get('applicationDomain')?.touched"
              >
                {{ getErrorMessage(projecttemplate.get('applicationDomain').errors) }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="formSectie">
            <mat-form-field>
              <mat-label>Productconcepten</mat-label>
              <mat-select formControlName="productTemplates" multiple required>
                <mat-option *ngFor="let group of productTemplates" [value]="group">
                  {{group.productName}}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="projecttemplate.get('productTemplates')?.errors && projecttemplate.get('productTemplates')?.touched"
              >
                {{ getErrorMessage(projecttemplate.get('productTemplates').errors) }}
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="list" >
        <div *ngFor="let productTemplate of geselecteerdeProductTemplates">
          <div class="product" >
            <p class="naam" >{{productTemplate.productName | slice: 0: 9}} </p>
            <img
              mat-card-image
              class="productfoto"
              src="{{productTemplate.image}}"
              alt="{{productTemplate.productName}}"
              (error)="showDefaultImage()">
            <div class="desc" *ngIf="productTemplate.addedByGo">GO product</div>
          </div>
        </div>
      </div>
      <mat-dialog-actions class="buttonContainer">
        <button routerLink="/projecttemplates" class="button" mat-raised-button>
          annuleer
        </button>
        <button (click)="save()" class="button" type="submit" mat-raised-button color='primary'
        ><!--[disabled]='!project.valid'-->
          Aanmaken
        </button>
      </mat-dialog-actions>
    </mat-card-content>
  </mat-card>
</div>
