.projecten-wrapper {
  display: flex;
  flex-direction: column;
  /*max-width: 1224px;*/
  /*margin: auto;*/
  /* 100% minus menubar, height and padding */
  height: calc(100% - 70px - 20px - 20px);

}

.list-wrapper {
  width: 100%;
  /*border: 3px solid var(--magenta);*/
  border-radius: 15px;
}

.list-wrapper:not(:first-child) {
  margin-top: 20px;
}

h1 {
  color: var(--blauw);
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
}


