.pagina { 
    padding-top: 20px;
    width: 100%;
    display: flex;

}

.pagina > div {
    border: 1px black solid;
    border-radius: 10px;
    margin: auto;
    width: 700px;
    padding: 20px;
}